@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--light-grey: #b1b1b1;

	--white-grey: #f3f2f2;
	--white: #fff;
	--black: #000;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}

body {
	font-size: 1.6rem;
	line-height: 22px;
	padding: 0px 10px;
}

button {
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
	border: 1px solid var(--light-grey);
	border-radius: 5px;
}

button:hover {
	background-color: var(--light-grey);
	font-weight: bold;
}
